.login-form__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.329);

    z-index: 1;
}

.login-form__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 65%;
    width: 50%;
    background: url('https://images.unsplash.com/photo-1530177150700-84cd9a3b059b');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    
    z-index: 2;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 12px;
    font-family: Poppins;

    z-index: 2;
}

.login-form__seperator{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__label{
    display: block;
    align-self: flex-start;
    font-size: 14px;
    margin: 0 0 4px 0;
}

.login-form__field{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: Poppins;
    font-size: 14px;
    width: 100%;
    margin-bottom: 18px;

    background-color: rgba(255, 255, 255, 0);
}

.login-form__login-button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 16px;
    margin: 16px 0;
}

.login-form__forgot-password{

    background: none;
    outline: none;
    border: none;

    display: block;
    width: fit-content;
    font-family: Poppins;
    font-size: 13px;
    margin-bottom: 2px;
    color: black;
    text-decoration: underline;

    cursor: pointer;
}


.login-form__error{
    font-size: 14px;
    font-family: Poppins;
    text-align: center;
    color: red;
    margin: 4px 0;
}

.login-form__close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.login-form__close::before,
.login-form__close::after{
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 2px;
    border-radius: 2px;

    content: '';
    background-color: black;
}

.login-form__close::before{
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
}

.login-form__close::after{
    right: 50%;
    transform: rotate(45deg) translateX(50%);
}

@media (max-width: 1024px){
    .login-form__container{
        width: 70%;
    }
    .login-form__seperator{
        width: 70%;
    }
}

@media (max-width: 650px){

    .login-form__container{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(0,0);
    }

    .login-form__seperator{
        width: 80%;
    }
}